<h3 class="my-5 text-center">Cambiar mis datos</h3>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "w-50 mx-auto" }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
 
  <div class="form-group mb-2">
    <%= f.label :email, "Email", class: "form-label" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div class="alert alert-info">
      Esperando la confirmación para: <%= resource.unconfirmed_email %>
    </div>
  <% end %>

  <div class="form-group mb-2">
    <%= f.label :password, "Contraseña (si quieres cambiarla)", class: "form-label" %>
    <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
    <% if @minimum_password_length %>
      <small class="form-text text-muted">Largo mínimo: <%= @minimum_password_length %> caracteres.</small>
    <% end %>
  </div>

  <div class="form-group mb-2">
    <%= f.label :password_confirmation, "Reingresar Contraseña", class: "form-label" %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
  </div>
  
  <div class="form-group mb-2">
    <%= f.label :current_password, "Para confirmar ingresa Contraseña Actual", class: "form-label" %>
    <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control" %>
  </div>
  <div class="d-flex justify-content-end">
    <%= f.submit "Continuar", class: "btn btn-warning btn-sm" %>
    <%= link_to "Volver", :back, class: "btn btn-secondary btn-sm" %> 
  </div>
  <hr>
  <div class="d-flex justify-content-end">
    <%= link_to "Cancelar mi cuenta", registration_path(resource_name), data: { confirm: "¿Estás seguro?", turbo_confirm: "¿Estás seguro?" }, method: :delete, class: "btn btn-danger btn-sm" %>
  </div>
  <% end %>
